form input {
  display: flex;
  padding: 0.625rem 1rem;
  align-items: flex-start;
  border-radius: 8px;
  background: #FFF;

  font-size: 1.125rem;

  border: none;
}

form input:focus {
  outline: 2px solid #11C739;
}



.error {
  font-size: small;
  color: var(--danger);
  max-width: 210px;
  margin-bottom: 0.25rem;
}