main {
  background-image: url('/static/assets/background-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  background-blend-mode: multiply;
}

.container {
  display: flex;
  gap: 7.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}


.hero h2 {
  font-size: 2rem;
  max-width: 498px;
  text-align: center;
  color: white;
  font-weight: 400;
}

.glasses {
  border-radius: 12px;
  background: linear-gradient(153deg, rgba(218, 228, 234, 0.30) 2.77%, rgba(211, 242, 242, 0.54) 29.6%, rgba(211, 242, 242, 0.47) 63.63%, rgba(147, 190, 215, 0.13) 96.68%);

  backdrop-filter: blur(14px);
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.box-form {
  display: flex;
  padding: 3.25rem 3.625rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}


.box-form .logo {
  width: 210px;
  height: auto;
}

.box-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.box-form form button {
  margin-top: 1.5rem;
}
.box-form a {
  color: black;
  font-size: 0.875rem;
}

.box-form h2 {
  align-self: flex-start;
  font-size: 2rem;
  color: var(--black);
}
