main{
    background-color: #D5D5D5;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    background-color: white;
    height: 100%;
    padding: 1rem;
}
.buttonLogoNavBar{
    display: inline;
    width: 12%;
}

.logoNavBar{
    width: 100%;
    height: 100%;
}
.searchNav{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

}
.searchInput{
    border: none;
    border-radius: 0.25rem;
    background-color: #EFF0F6;
    line-height: 32px;
    width: 80%;
    font-family: Roboto;
    font-weight: 300;
    padding: 0 0 0 5px;
}
.searchInput:focus {
    outline: none;
  }

.searchButton{
    width: 100%;
    height: 80%;
    background-color: #d2d2d2;
    border-radius: 0.5rem;
    font-weight: bold;
}
.searchButton div{
    display: flex;
    gap: 0.33rem;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
}
.profileButton {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 99999999px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.profileButton:hover {
    background-color: rgb(214, 255, 226); 
    transform: scale(1.5); 
}

.profileImage{
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
  }
.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    max-width: 1260px;
    margin: auto;
    padding:2rem 5rem 2rem 5rem;
}
.feed{
    color: black;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.createPostForm{
    width:100%;
}
.createPost{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 0.25rem;
}

.createPost .inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

.createPost .inputs textarea{
    background-color: #f5f7f6;
    width: 100%;
    border: none;
    outline: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    padding: 0.625rem 1rem;

    font-size: 1rem;
    color: var(--black);
}

.createPost .inputs .input {
    border: 1px solid #ccc;
    background-color: #f5f7f6;
}

.createPost .inputs textarea:focus {
    outline: 1px solid var(--green);
}


.createPost ul{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 0.5rem;
    justify-content: space-between;
    width: 20%;
}
.createPost ul button{
    background-color:transparent;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}
.createPost ul button:hover{
    transform: scale(1.1);
    background-color: rgba(225, 225, 225, 0.582);
    width: 50%;
    border-radius:99999999px;
}
.trend{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    padding: 0.3rem 0;
}
.trend ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.trendButtons {
    width: auto; 
    display: inline-block;
    color: grey;
    font-size: 1rem;
    font-family: Roboto;
    font-weight: bold;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease; 
    border-bottom: 2px solid transparent;
}
.active{
    color: black;
    border-bottom: 2px solid #34db66;
    transform: scale(1.1);
    opacity: 0.8;
    outline: none;
}
.post{
    gap: 1rem;
    padding: 1.5rem 0px 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 100%;
    background-color: white;
    border-radius: 0.25rem;
    align-self: stretch;
}
.post ul{
    display: flex;
    gap: 0.75rem;
    align-self: flex-end;
    padding: 0.25rem 1rem;
}
ul{
    display: flex;
    align-items: center;
    gap: 8px;
}
ul button{
    background-color: transparent;
    border: none; 
    border-radius: 0; 
    width: 3rem; 
    height: 100%;
    cursor: pointer;
}
ul button:focus{
    outline: none;
}
#like img {
    transition: transform 0.3s ease-in-out;
}
#like:hover img {
    transform: scale(1.1);
}
#dislike img {
    transition: transform 0.3s ease-in-out;
}
#dislike:hover img {
    transform: scale(1.1);
}

.profilePicture{
    height: 30px;
    width: 30px;
    border-radius: 99999px;
}
.postImage{
    width:100%;
    height: 100%;

}
.head{
    display: flex;
    align-items: center;
}
.userInfo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
    width: 90%;
    text-decoration: none;
    cursor: pointer;
    
}
.title-post{
    font-size: 1.25rem;
    color: var(--black);
}
.username{
    font-size: 0.75rem;
    color: green;
}
.description{
    font-size: 0.875rem;
    color: grey;
}
.side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 100%;
    width: 360px;
    gap: 2rem;
    overflow: hidden;
    
}
.first, .second, .third{
    background-color: white;
}
.first {
    position: relative;
    display: flex;
    align-self: stretch; 
    height: auto; 
    border-radius: 0.5rem;
    overflow: hidden;
    max-height: 202.5px;
}
.first img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.publi {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px; 
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    color: white; 
    z-index: 1;
}
.second{
    width: 100%;
    height: 50%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}
.third{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}


.productBox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
}

.productHero {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--black);
    margin-top: 0.25rem;
    gap: 0.125rem;
}

.productHero span {
    font-size: 0.875rem;
}

.productImg {
    height: 60px;
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
}

.productImg img {
    height: 60px;
    width: auto;


}
#profilefeedimage{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.more-products {
    align-self: center;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
}
.likes{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    font-weight: bold;
    color: #4e4e4e;
}
.likes img{
    width: 1.5rem;
}
.paginator-list {
    display: flex;
    gap: 0.25rem;
    list-style: none;   
}

.paginator-list li {
    background-color: var(--green);
    border-radius: 4px;
    cursor: pointer;

    padding: 0.2rem 0.5rem;
}

.paginator-list li a {
    text-decoration: none;
    color: var(--white);
}

