{% extends "post/base.html" %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'profile/styles.css' %}" />
{% endblock 'head' %} {% block 'content' %}
<div class="profile">
  <div class="profileProduct">
    {% for post in posts %}
    <!-- Post Atualizado -->
    <div class="product">
      <div class="head">
        <div class="userInfo">
            <h1 class="tittle">{{post.title}}</h1>
            <p class="username">{{post.author.first_name}} está falando sobre <a href="#">{{post.product}}</a></p>
            <p class="description">{{post.content}}</p>
        </div>
      </div>
      {% if post_feed.image %}
      <img alt="postImage" class="postImage" src="{{ post.image }}" />
      {% endif %}
      <ul>
        <button
        onclick="toggleLike('{{ post.id }}')"
        id="like_{{ post.id }}"
      >
        <img src="./../../static/assets/postPositivo.svg" />
      </button>
      <button
        onclick="toggleDislike('{{ post.id }}')"
        id="dislike_{{ post.id }}"
      >
        <img src="./../../static/assets/postNegativo.svg" />
      </button>
      </ul>
      </div>
    {% endfor %}
  </div>

  <div class="profileData">
    <div class="topProfile">
      <div class="backgroundProfile"></div>
      <div class="image">
        <img
          alt="Perfil"
          src="{{ product.picture.url }}"
          class="profileIcon"
        />
      </div>
    </div>

    <div class="contentProfile">
      <h1>{{ product.name }}</h1>
      <div class="follow_info">
        <div onclick=openModalFollower() >
          <span class='value'>Marca</span>
          <span class='text'>{{ product.brand }}</span>
        </div >
        <div onclick=openModalFollowing()>
            <span class='value'>Tipo</span>
            <span class='text'>{{ product.product_type }}</span>
        </div >
      </div>
    </div>

    
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="productType">
      <p>Bio</p>
    </div>
    <div class="productType">
      <p>Tipo do produto</p>
      <input
        id="productType"
        placeholder="{{ product.product_type }}"
      />
    </div>
  </div>
</div>

<!-- The Overlay -->
<div id="overlay"></div>
<script>
  function openModal() {
    document.getElementById("myModal").style.display = "block";
    document.getElementById("overlay").style.display = "block";
  }
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
    document.getElementById("overlay").style.display = "none";
  }
  function openModalFollower() {
    document.getElementById("followers").style.display = "flex";
  }
  function closeModalFollower() {
    document.getElementById("followers").style.display = "none";
  }

  function openModalFollowing() {
    document.getElementById("following").style.display = "flex";
  }
  function closeModalFollowing() {
    document.getElementById("following").style.display = "none";
  }

  document.addEventListener("DOMContentLoaded", function () {
    closeModal();
  });
  document.getElementById("openModal").addEventListener("click", openModal);
</script>

{% endblock 'content' %}
