{% extends "index.html" %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static "home/styles.css" %}" />
{% endblock 'head' %} {% block 'main' %}
<main class="main">
  <div class="navbar">
    <a href="{% url 'post:home' %}" class="buttonLogoNavBar"><img
      class="logoNavBar"
      id="logo"
      src="./../../static/assets/logo-white.svg"
    /></a>
    <div class="searchNav">
      <input class="searchInput" type="text" placeholder="Pesquise Algo Aqui" />
      <nav>
        <ul>
          <button class="searchButton">
            <div>
              <a>Pesquisar</a>
              <img
                src="./../../static/assets/buscar.svg"
                style="height: 20%; width: 20%"
              />
            </div>
          </button>
        </ul>
      </nav>
    </div>
    
    <form action="{% url 'users:profile' username=user%}" method="get">
      <button class="profileButton"><img alt="Perfil" id="profileImage" class="profileImage" /></button>
    </form>
    <form action="{% url 'users:logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="button">Sair</button>
    </form>
  </div>

  {% block 'content' %} {% endblock 'content' %}
</main>
<script>
  document.getElementById("logo").addEventListener("click", function () {
    window.location.href = "http://127.0.0.1:8000";
  });

  document.addEventListener("DOMContentLoaded", function () {
    var profileImage = document.getElementById("profileImage");
    if (profileImage) {
      if (window.location.pathname.indexOf("profile") !== -1) {
        profileImage.src = "{{ user.profile.image.url }}";
      } else {
        profileImage.src = "{{ user.image.url }}";
      }
    }
  });
</script>
{% endblock 'main' %}
