{% extends "post/base.html" %} {% load static %} {% block 'content' %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="content">
  <div class="feed">

    <form action={% url 'post:create' %} method="post" class="createPostForm">
      {% csrf_token %}
      <div class="createPost">
        <div class="inputs">
          <input type="text" class="input" name="post-title" id="post-title" placeholder="Insira um título para sua avaliação">
          <textarea name="content" id="content" cols="15" rows="5" placeholder="Descreva sua experiência com um produto"></textarea>

          <div class="product-inputs">
            <input type="text" name="product-name" id="product-name" class="input" list="product-list" placeholder="Selecione um produto">
            <datalist id="product-list">
              {% for  product in products_post %}
                 <option value="{{ product }}">{{ product }}</option>
              {% endfor %}
            </datalist>
          </div>

        </div>
        <ul>
          <button>
            <img src="{% static 'assets/camera.svg' %}" alt="Câmera" />
          </button>
          <button type="submit">
            <img src="{% static 'assets/enviar.svg' %}" alt="Enviar" />
          </button>
        </ul>
      </div>
    </form>
    {% block 'trend_buttons' %}{% endblock 'trend_buttons' %}
      {% block 'post' %}{% endblock 'post' %}
   
    
    {% if error %}
    <span> {{ error }} </span>
    {% endif %}
  
  </div>
  <div class="side">
    <div class="first">
      <img src="{% static 'assets/propaganda1.jpg' %}" />
      <div class="publi"><p>Aproveite As Novidades</p></div>
    </div>
    <div class="second">
      {% for product in products %}
      <a href={% url 'product:product_profile' product.id %} class="link-product">
        <div class='productBox'>
          <div class="productImg">
            <img src="{{product.picture.url}}" alt="imagem do produto">
          </div>
          <div class="productHero">
            <strong>{{product.name}}</strong>
            <span>{{ product.product_type }}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="third"></div>
  </div>
</div>

<script>
  const activeButton = document.querySelectorAll('.trendButtons')
  function toggleLike(postId) {
    resetDislike(postId);

    var likeButton = document.getElementById("like_" + postId);
    var likeImage = likeButton.querySelector("img");

    if (likeImage.src.endsWith("postPositivo.svg")) {
      likeImage.src = "{% static 'assets/likedArrow.svg' %}";
    } else if (likeImage.src.endsWith("likedArrow.svg")) {
      likeImage.src = "{% static 'assets/postPositivo.svg' %}";
    }
  }

  function toggleDislike(postId) {
    resetLike(postId);

    var dislikeButton = document.getElementById("dislike_" + postId);
    var dislikeImage = dislikeButton.querySelector("img");

    if (dislikeImage.src.endsWith("postNegativo.svg")) {
      dislikeImage.src = "{% static 'assets/unlikedArrow.svg' %}";
    } else if (dislikeImage.src.endsWith("unlikedArrow.svg")) {
      dislikeImage.src = "{% static 'assets/postNegativo.svg' %}";
    }
  }

  function resetLike(postId) {
    var likeButton = document.getElementById("like_" + postId);
    var likeImage = likeButton.querySelector("img");
    likeImage.src = "{% static 'assets/postPositivo.svg' %}";
  }

  function resetDislike(postId) {
    var dislikeButton = document.getElementById("dislike_" + postId);
    var dislikeImage = dislikeButton.querySelector("img");
    dislikeImage.src = "{% static 'assets/postNegativo.svg' %}";
  }

  function initializeCarousel(carouselClass, imagePaths, interval) {
    var carousel = $(carouselClass);
    var currentIndex = 0;

    function showItem(index) {
      carousel.find("img").attr("src", imagePaths[index]);
      //carousel.find('.publi p').text('Saiba Mais!');
    }

    function nextItem() {
      currentIndex = (currentIndex + 1) % imagePaths.length;
      showItem(currentIndex);
    }

    showItem(currentIndex);
    setInterval(nextItem, interval);
  }
  initializeCarousel(
    ".first",
    [
      "{% static 'assets/propaganda1.jpg' %}",
      "{% static 'assets/propaganda2.jpg' %}",
      "{% static 'assets/propaganda3.jpg' %}"
    ],
    5000
  );

  function initializeTrendButtons(selector, activeButton) {
    $(`${selector}:contains("${activeButton}")`).addClass("active");
    function toggleButtons(button) {
      if (!$(button).hasClass("active")) {
        $(selector).removeClass("active");
        $(button).addClass("active");
        activeButton = $(button).text().trim();
      }
    }
    $(selector).click(function () {
      toggleButtons(this);
    });
    $(document).click(function (event) {
      const clickedButton = $(event.target).closest(selector);
      if (clickedButton.length) {
        return;
      }
    });
  }
  

  function setActiveButton(button) {
    var buttons = document.querySelectorAll('.trendButtons');
    buttons.forEach(function (btn) {
      btn.classList.remove('active');
    });
    button.classList.add('active');
  }
</script>

{% endblock 'content' %}
