{% extends "post/home.html" %}
{% load static %}

{% block 'trend_buttons' %}
    <div class="trend">
      <ul>
        <a href={% url "post:explorer"  %} >
          <button class="trendButtons" >Explorar</button>
        </a>
        
        <a href={% url "post:home" %}>
          <button class="trendButtons active"  disabled >Seguindo</button>
        </a>
      </ul>
    </div>
{% endblock 'trend_buttons' %}

{% block 'post' %}

{% for post_feed in posts_feed %}
    <div class="post">
    <div class="head">
    <a href="{% url 'users:profile' username=post_feed.author.username %}">
      <button id="profilefeedimage">
        <img
          alt="profileIcon"
          class="profilePicture"
          src="{{ post_feed.author.profile.image.url }}"
        />
      </button>
    </a>
    <a class="userInfo" href={% url 'post:post_view' id=post_feed.id %}>
      <h1 class="title-post">{{post_feed.title}}</h1>
      <p class="username">{{post_feed.author.first_name}} está falando sobre <span style="color: var(--black); font-weight: bold;" >{{post_feed.product}}</span></p>
      <p class="description">{{post_feed.content}}</p>
    </a>
    </div>
    {% if post_feed.image %}
    <img alt="postImage" class="postImage" src="{{ post_feed.image }}" />
    {% endif %}
    <ul>
    <div class="likes"
    >
      <img src="{% static 'assets/likedArrow.svg' %}" />
      <p>{{post_feed.upgrade.all|length}}</p>
    </div>
    <div class="likes"
    >
      <img src="{% static 'assets/unlikedArrow.svg' %}" />
      <p>{{post_feed.downgrade.all|length}}</p>
    </div>
    </ul>
    </div>
{% endfor %}

<ul class='paginator-list'>
  {% for page in num_pages %}
    <li><a href={% url 'post:home_pagination' page %}>{{ page }}</a></li>
  {% endfor %}
</ul>
{% endblock 'post' %}
