{% extends "post/home.html" %}
{% load static %}



{% block 'trend_buttons' %}
    <div class="trend">
      <ul>
        <a href={% url "post:explorer" %} >
          <button class="trendButtons" >Explorar</button>
        </a>
        
        <a href={% url "post:home" %}>
          <button class="trendButtons active"  disabled >Seguindo</button>
        </a>
      </ul>
    </div>
{% endblock 'trend_buttons' %}

{% block 'post' %}
{% for post_feed in posts_feed %}
<div class="post">
<div class="head">
<a href="{% url 'users:profile' username=post_feed.author.username %}">
  <button>
    <img
      alt="profileIcon"
      class="profilePicture"
      src="{{ post_feed.author.profile.image.url }}"
    />
  </button>
</a>
<div class="userInfo">
  <h1 class="tittle">{{post_feed.title}}</h1>
  <p class="username">{{post_feed.author}}</p>
  <p class="description">{{post_feed.content}}</p>
</div>
</div>
{% if post_feed.image %}
<img alt="postImage" class="postImage" src="{{ post_feed.image }}" />
{% endif %}
<ul>
<button
  onclick="toggleLike('{{ post_feed.id }}')"
  id="like_{{ post_feed.id }}"
>
  <img src="./../../static/assets/postPositivo.svg" />
</button>
<button
  onclick="toggleDislike('{{ post_feed.id }}')"
  id="dislike_{{ post_feed.id }}"
>
  <img src="./../../static/assets/postNegativo.svg" />
</button>
</ul>
</div>
{% endfor %}
{% endblock 'post' %}


{% block 'form_pagination' %}
<form action="{% url 'post:home' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="page" id="page" value="{{ page }}" />
  {% if num_pages != 1 %}
  <button type="submit" class="button">Ver mais</button>
  {% endif %}
</form>
{% endblock 'form_pagination' %}


