{% extends "post/base.html" %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'profile/styles.css' %}" />
{% endblock 'head' %} {% block 'content' %}
<div class="profile">
  <div class="profilePost">
    {% for post in posts %}
    <div class="generic">
      <div class="square1">{{ post.content }}</div>
    </div>
    {% endfor %}
  </div>

  <div class="profileData">
    <div class="topProfile">
      <div class="backgroundProfile"></div>
      <div class="image">
        <img
          alt="Perfil"
          src="{{ profile_user.profile.image.url }}"
          class="profileIcon"
        />
      </div>
    </div>

    <div class="contentProfile">
      <h1>{{ profile_user.username }}</h1>
      <div class="follow_info" style="display: flex">
        <h5 class="followers" >{{ followers|length }} Seguidores</h5>
        <h5 class="following" >{{ following|length }} Seguindo</h5>
      </div>
      {% if profile_user.bio %}
      <p>{{ profile_user.bio }}</p>
      {% else %}
      <p>Biografia não disponível</p>
      {% endif %}

      <div>
        {% if profile_user.date_of_birth %}
        <p>{{ profile_user.date_of_birth }}</p>
        {% else %}
        <p>Data de nascimento não disponível</p>
        {% endif %}
      </div>
    </div>

    <!-- Modal de Exbição de Seguidores e Seguindo -->
    <div id="followers" class="overlayFollowers">
      <div class="modalFollowers">
        {% for profile in followers %}
        <div class="modalFollowersContent">
          <img src="{{profile.image.url}}" />
          <div class="followersContent">
            <h1>{{profile.user.username}}</h1>
            <p>teste</p>
          </div>
        </div>
        {% endfor %}
        <button style="width: 30%;" onclick=closeModalFollower()> Fechar </button>
      </div>
    </div>

    <div id="following" class="overlayFollowing">
      <div class="modalFollowing">
        {% for profile in following %}
        <div class="modalFollowingContent">
          <img src="{{profile.profile.image.url}}" />
          <div class="followingContent">
            <h1>{{profile.username}}</h1>
            <p>teste</p>
          </div>
        </div>
        {% endfor %}
        <button style="width: 30%;" onclick=closeModalFollowing()> Fechar </button>
      </div>
    </div>











    {% if user.is_authenticated and user.username == profile_user.username %}
    <button id="openModal">Configurar</button>
    {% else %}
    <form
      action="{% url 'users:profile' username=profile_user.username %}"
      method="post"
    >
      {% csrf_token %}
      <input
        type="hidden"
        name="profile_id"
        id="profile_id"
        value="{{ profile_user.id }}"
      />
      <button type="submit" class="button">Seguir</button>
    </form>

    {% endif %}
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="data">
      <p>Bio</p>
      <input id="bioInput" placeholder="{{ profile_user.bio }}" />
    </div>
    <div class="data">
      <p>Data de Aniversário</p>
      <input
        id="dateOfBirthInput"
        placeholder="{{ profile_user.date_of_birth }}"
      />
    </div>
    <div class="actions">
      <button onclick="saveProfile()">Salvar</button>
    </div>
  </div>
</div>

<!-- The Overlay -->
<div id="overlay"></div>
<script>
  function openModal() {
    document.getElementById("myModal").style.display = "block";
    document.getElementById("overlay").style.display = "block";
  }
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
    document.getElementById("overlay").style.display = "none";
  }
  function openModalFollower() {
    document.getElementById("followers").style.display = "flex";
  }
  function closeModalFollower() {
    document.getElementById("followers").style.display = "none";
  }

  function openModalFollowing() {
    document.getElementById("following").style.display = "flex";
  }
  function closeModalFollowing() {
    document.getElementById("following").style.display = "none";
  }

  document.addEventListener("DOMContentLoaded", function () {
    closeModal();
  });
  document.getElementById("openModal").addEventListener("click", openModal);
</script>

{% endblock 'content' %}
