{% extends "index.html" %} {% load static %} {% block 'head' %} <link
rel="stylesheet" href="{% static "users/styles.css" %}">
	<link rel="stylesheet" href="{% static "users/reset-pass-form.css" %}">
{% endblock 'head' %}

{% block 'main' %}
<main>
	<div class="container">
		<div class="hero">
			<a href="#" class="logo">
				<img src=" {%static 'assets/logo-white.svg' %} " alt="" />
			</a>

			<h2>Compartilhando Experiências, Cultivando Conhecimento</h2>
		</div>
		<div class="boxes">
			<div class="box-form glasses">
				<img
					src=" {%static 'assets/logo-white.svg' %} "
					alt="logo"
					class="logo"
				/>
				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="button">Verificar</button>
				</form>
				{% if erro %}
				<span> {{ erro }} </span>
				{% endif %}

				<a href={% url "users:login" %}>Tentar login novamente</a>
			</div>

			<div class="glasses box-new-account">
				<p>Você ainda não possui uma conta?</p>
				<a href={% url 'users:signup' %}>Cadastre-se</a>
			</div>
		</div>
	</div>
</main>

{% endblock 'main' %}
